<div class="ffcontainer" ng-click="mvm.clickedOnWhiteArea($event)">
    <div class="ffbox" 
        ng-repeat="f in mvm.files track by $index"
        ng-class="{selected: mvm.selectedIndices.includes($index)}"
        ng-click="mvm.select($event, $index)"
        ng-dblclick="mvm.open($event, $index)"
    >
        <i class="fas fa-folder ico folder" ng-if="f.isDirectory"></i>
        <i class="fas fa-file ico file" ng-if="f.isFile"></i>
        <i class="fas fa-link ico link" ng-if="f.isSymbolicLink"></i>

        <div class="name">{{f.name}}</div>
    </div>
</div>