<div class="ffcontainer" 
    ng-click="mvm.clickedOnWhiteArea($event)"
    ng-keyup="mvm.keyup($event)"
    ng-keydown="mvm.keydown($event)"
    tabindex="0"
>
    <div class="ffbox" 
        tabindex="0"
        ng-repeat="f in mvm.files track by $index"
        ng-class="{
            selected: mvm.selectedIndices.includes($index), 
            editable: (mvm.editableIndex === $index)
        }"
        ng-click="mvm.select($event, $index)"
        ng-dblclick="mvm.open($event, $index)"
    >
        <i class="fas fa-folder ico folder" ng-if="f.isDirectory"></i>
        <i class="fas fa-file ico file" ng-if="f.isFile"></i>
        <i class="fas fa-link ico link" ng-if="f.isSymbolicLink"></i>

        <div class="name">
            <span class="name-txt" ng-click="mvm.markEditableForRename($event, $index)">
                {{f.name}}
            </span>
            <input type="text" class="rename-txt" value="{{f.name}}"
                ng-click="mvm.stopPropagation($event)"
                ng-keyup="mvm.enterToRename($event)"
                ng-keydown="mvm.stopPropagation($event)"
            />
        </div>
    </div>
</div>