*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

:root {
    /* --primary-color: rgb(154, 205, 50); */
    --primary-color: rgb(0, 126, 243);
}

/******************************************************
* Utility Classes
******************************************************/
.input-ico-right {
    position: relative;
}
.input-ico-right input {
    padding-right: 32px !important;
}
.input-ico-right .ico {
    position: absolute;
    right: 0px;
    top: 0;
    font-size: 16px;
    color: rgba(0, 0, 0, .5);
    padding: 5px;
    /* border-left: 1px solid #ccc; */
}
/*****************************************************/
.address-bar {
    height: 40px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.address-bar .btn-ico {
    height: 30px;
    width: 30px;
    margin: 0 2.5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    opacity: .5;
    user-select: none;
}
.address-bar .btn-ico.enabled {
    opacity: 1;
}
.address-bar .btn-ico.enabled:hover {
    transform: scale(1.5);
}
.address-bar .txt-input {
    height: 26px;
    margin: 0 5px;
    font-size: 16px;
    padding: 2px 5px;
    border: none;
    border-radius: 2px;
}
.address-bar .url {
    flex-grow: 1;
}
.address-bar .search-container {
    max-width: 300px;
    flex-grow: 1;
    overflow: hidden;
}
.address-bar .search-container .search {
    width: 100%;
}
.ffcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 120px;
    grid-gap: 10px;
    padding: 20px;
    margin-top: 40px;
    min-height: calc(100vh - 40px);
}
.ffbox {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    text-align: center;
    position: relative;
}
.ffbox::before {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    opacity: .05;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    /* transition: all 100ms linear; */
}
.ffbox::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    opacity: .2;
    top: 0;
    /* bottom: 0; */
    left: 0;
    /* right: 0; */
    width: 0;
    height: 0;
    /* transition: all 100ms linear; */
}
.ffbox:hover::after,
.ffbox:focus::after,
.ffbox.selected::after {
    width: 100%;
    height: 100%;
}
.ffbox .ico {
    font-size: 54px;
    color: var(--primary-color);
    margin-bottom: 4px;
}
.ffbox .ico.folder {
    margin-bottom: 5px;
}
.ffbox .ico.link {
    margin-bottom: 10px;
    font-size: 50px;
}
.ffbox .name {
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, .8);
    user-select: none;
    position: relative;
    z-index: 9;
}
.ffbox .name .name-txt {
    word-break: break-word;
}
.ffbox .name .rename-txt {
    padding: 3px 5px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #bbb;
}
.ffbox.editable .name .rename-txt,
.ffbox .name .name-txt {
    display: inline-block;
}
.ffbox .name .rename-txt,
.ffbox.editable .name .name-txt {
    display: none;
}