<div class="address-bar">
    <i class="fas fa-arrow-left btn-ico left" 
        ng-click="mvm.goBackward()"
        ng-class="{'enabled': (mvm.currentHistoryIndex > 0)}"
    ></i>
    <i class="fas fa-arrow-right btn-ico right" 
        ng-click="mvm.goForward()"
        ng-class="{'enabled': (mvm.currentHistoryIndex < (mvm.history.length-1))}"
    ></i>
    <i class="fas fa-arrow-up btn-ico up enabled"
        ng-click="mvm.goUpward()"
    ></i>
    <input type="text" 
        class="txt-input url" 
        ng-model="mvm.url"
        ng-keyup="mvm.handleUrlKeyUp($event)"
    />
    
    <div class="input-ico-right search-container">
        <input type="text" class="txt-input search" placeholder="Search..." />
        <i class="fas fa-search ico"></i>
    </div>
    
</div>